[user]
	name = saneatsu
	email = w.saneatsu@gmail.com
[core]
	excludesfile = /Users/saneatsuwakana/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/saneatsuwakana/.commit_template
[alias]
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        s = status
        ss = status -s
        co = checkout
        br = branch
        co = commit
        com = commit -m
        df = diff
        pl = pull
        ps = push
        a = add
        conflict = !git ls-files -u | cut -f 2 | sort -u
        show-ignore = ls-files --other --ignored --exclude-standard
