[user]
	name = saneatsu
	email = w.saneatsu@gmail.com
[core]
	excludesfile = /Users/saneatsuwakana/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /private/var/folders/dd/lnp7gbfd799d1b6btyglr_xm0000gn/T/AppTranslocation/2C0AC7AF-C1B7-468B-A78A-309548CD3F2C/d/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/saneatsuwakana/.stCommitMsg
[alias]
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        s = status
        ss = status -s
        co = checkout
        br = branch
        com = commit -m
        df = diff
        pl = pull
        a = add
